// variables
// 
// theme taso
// 
// theme font
$helvetica: Helvetica, sans-serif;
$franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$f_size: 1.2em;
// 
// theme color
$grey: rgb(116, 129, 130);
$orange: rgb(250, 111, 96);
$white: rgb(255, 255, 255);
$black: rgb(34, 34, 34);
$grey_text: rgb(132, 144, 144);
$grey_text2: rgb(105, 105, 105);
$grey_background: rgb(242, 242, 242);
$blue_grid: rgb(243, 244, 251);
$grey_shadow: rgb(217, 217, 217);
// 
// theme text


