// variables
// 
// theme taso
// 
// theme font
$helvetica: Helvetica, sans-serif;
$franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$f_size: 1.2em;
// 
// theme color
$grey: rgb(116, 129, 130);
$orange: rgb(250, 111, 96);
$white: rgb(255, 255, 255);
$black: rgba(0, 0, 0, 0.938);
// 
// theme grid

