// numb_animation.scss

.number_animation{
    width: $width;
    height: 300px;
    margin: $margin;
    background: url(../img/background/header_background.jpg) $repeat;
    .animation_grid{
        width: 80%;
        height: 50%;
        margin: $margin_a;
        display: flex;
        .a_grid{
            width: $width;
            height: $height;
            color: $t_color;
            text-align: $text_ac;
            font-family: $font-stack;
            padding-top: 100px;
            h4{
                font-size: 40px;
                margin: $margin;
            }
            p{
                font-size: 28px;
            }
        }
    }
}