// services.scss

#services{
    width: $width;
    height: 1000px;
    margin: $margin;
    .services_conteiner{
        width: 80%;
        height: $height;
        margin: $margin_a;
        display: $display_b;
        .services_text{
            width: $width;
            text-align: $text_ac;
            font-family: $font-stack;
            text-transform: $transform;
            padding-top: 70px;
            h2{
                font-size: 50px;
                margin: $margin;
            }
            strong{
                color: $strong_color;
            }
            p{
                font-size: 24px;
                span{
                color: $strong_color;
                position: $position_r; 
                font-size: 30px;
                top: -10px;  
                display: $display; 
                }
            }
        }
        .services_grid{
            width: $width;
            margin: $margin_a;
            padding-left: 22px;
            padding-top: 20px;
            .grid{
                text-align: $text_ac;
                background-color: rgb(246, 247, 254);
                box-shadow: 1px 1px 4px 4px rgba(216, 216, 216, 0.399);
                border-radius: 1%;
                margin: 15px;
                width: 30%;
                height: 280px;
                float: $floatl;
            }
            .g_icon{
                width: 70px;
                height: 70px;
                margin: $margin_a;
                padding-top: 20px;
                padding-bottom: 20px;
                .design{
                    width: 45px;
                    height: 45px;
                    margin: $margin_a;
                    margin-top: 12px;
                    background: url(../img/icons/icon_brush.png) $repeat;
                    background-size: $back_size;
                }
                .website{
                    width: 50px;
                    height: 50px;
                    margin: $margin_a;
                    margin-top: 12px;
                    background: url(../img/icons/icon_display.png) $repeat;
                    background-size: $back_size;
                }
                .uiux{
                    width: 50px;
                    height: 50px;
                    margin: $margin_a;
                    margin-top: 12px;
                    background: url(../img/icons/icon_uiux.png) $repeat;
                    background-size: $back_size;
                }
                .graphic{
                    width: 50px;
                    height: 50px;
                    margin: $margin_a;
                    margin-top: 12px;
                    background: url(../img/icons/icon_camera.png) $repeat;
                    background-size: $back_size;
                }
                .support{
                    width: 50px;
                    height: 50px;
                    margin: $margin_a;
                    margin-top: 12px;
                    background: url(../img/icons/icon_suppport.png) $repeat;
                    background-size: $back_size;
                }
                .seo{
                    width: 50px;
                    height: 50px;
                    margin: $margin_a;
                    margin-top: 12px;
                    margin-right: 5px;
                    background: url(../img/icons/icon_lamp.png) $repeat;
                    background-size: $back_size;
                }
                .border{
                    width: 80px;
                    height: 80px;
                    border: 1px solid $strong_color;
                    border-radius: 50%;
                    background-color: $strong_color;
                }
            }
            .g_text{
                font-family: $font-stack;
                font-size: 20px;
                h3{
                    margin: $margin;
                }
                p{
                    color: $text_color;
                }
            }
        }
    }
}