// skill.scss


.my_skill{
    width: $width;
    height: 600px;
    background-color: rgb(242, 242, 242);
    .skill_conteiner{
        width: 80%;
        height: $height;
        margin: $margin_a;
        padding-left: 180px;
        .skill_text{
            width: 51%;
            float: $floatl;
            height: $height;
            font-size: 20px;
            h2{
                text-transform: $transform;
                margin: 0;
                padding-top: 140px;
                strong{
                    color: $strong_color;
                }
            }
            p{
                font-family: $font-stack;
                color: $text_color;
            }
        }
        .bar_animation{
            width: 48%;
            float: $floatr;
            margin-left: 5px;
            padding-top: 50px;
            .bar_img{
                width: 700px;
                height: 300px;
                background: url(../img/others/animated_bar.jpg) $repeat;
                background-size: $back_size;
                
            }
        }
    }
}